<ng-container *ngIf="themeService.theme$ | async as
theme">
<mat-card>
<pre>
  $mat-primary-scheme: (
    100: {{ theme.primaryLightColor }},
    500: {{ theme.primaryColor }},
    700: {{ theme.primaryDarkColor }},
    contrast: (
      100: {{ theme.primaryLightColorText }},
      500: {{ theme.primaryColorText }},
      700: {{ theme.primaryDarkColorText }},
    )
  );
  $mat-accent-scheme: (
    100: {{ theme.accentLightColor }},
    500: {{ theme.accentColor }},
    700: {{ theme.accentDarkColor }},
    contrast: (
      100: {{ theme.accentLightColorText }},
      500: {{ theme.accentColorText }},
      700: {{ theme.accentDarkColorText }},
    )
  );
  $mat-primary-palette: mat-palette($mat-primary-scheme);
  $mat-accent-palette: mat-palette($mat-accent-scheme);

  $app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
  @include angular-material-theme($app-light-theme);
</pre>
</mat-card>
</ng-container>
