<!-- <mat-list>
    <h3 fxLayout="row" ><mat-icon>palette</mat-icon>
      <span class="padding-left-20">Palette</span>
    </h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let paletteColor of PALETTE_COLORS">
          <div mat-line>
            <div fxFlex>{{paletteColor.title}}</div>
            <app-color-palette (colorChange)="changeColor(paletteColor.property, $event)"
          [value]="(themeService.theme$ | async)[paletteColor.property]"></app-color-palette>
          <app-color-palette (colorChange)="changeColor(paletteColor.property, $event)"
          [value]="(themeService.theme$ | async)[paletteColor.property]"></app-color-palette>
          </div>
    </mat-list-item>
</mat-list> -->
<table class="listing" width="100%">
  <thead>
    <th colspan="3">
        <h3 fxLayout="row" ><mat-icon>palette</mat-icon>
          <span class="padding-left-20">Palette</span>
        </h3>
    </th>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <th>Background</th>
      <th>Text</th>
    </tr>
    <tr *ngFor="let paletteColor of PALETTE_COLORS">
        <td width="*">{{paletteColor.title}} -> {{(themeService.theme$ | async)[paletteColor.textProperty]}}</td>
        <td width="20%"><app-color-palette (colorChange)="changeColor(paletteColor.property, $event)"
        [value]="(themeService.theme$ | async)[paletteColor.property]"></app-color-palette></td>
        <td width="20%"><app-color-palette (colorChange)="changeColor(paletteColor.textProperty, $event)"
        [value]="(themeService.theme$ | async)[paletteColor.textProperty]"></app-color-palette></td>
      </tr>
  </tbody>
</table>
