<div [ngClass]="{darkMode: isDarkMode}">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <img width="30" alt="Angular Logo" src="../assets/mat-logo.png">
    <span>Mat Theme Generator</span>
    <span class="spacer"></span>
    <button mat-icon-button
      (click)="exportTheme()"
      angulartics2On="click"
      angularticsAction="Export"
      angularticsLabel="Export"
      angularticsCategory="Export theme">
        <mat-icon>arrow_upward</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
