<div>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <img width="30" alt="Angular Logo" src="./assets/mat-logo.png">
    <span>Mat Theme Generator</span>
    <span class="spacer"></span>
    <button mat-button
      (click)="exportTheme()"
      angulartics2On="click"
      angularticsAction="Export"
      angularticsLabel="Export"
      angularticsCategory="Export theme">
        Export <mat-icon>arrow_downward</mat-icon>
    </button>
    <a href="https://github.com/walvekarnikhil/ng-mat-theme-generator" target="_blank"
       rel="noopener" title="GitHub" aria-label="GitHub repository link" matRipple>
      <mat-icon svgIcon="github-circle" class="external-logo"></mat-icon>
    </a>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <div id="layoutNotSupported" *ngIf="isLayoutNotSupported && !dialogDismissed">
    <!-- <div class="overlayContents"> -->
      <mat-card  class="overlayContents">
        <mat-card-header>
          <mat-card-title>
              Mobile / Table support on it's way
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            We are working on the responsive layout, please check back later.<br>
            You can still check out the tool, but it could limit the experience.
        </mat-card-content>
        <mat-card-actions [align]="'end'">
            <button class="margin-right-40" mat-raised-button color="warn"
              (click)="dialogDismissed = true">Dismiss</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
