/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

body.darkMode {
  background-color: #303030;
  color: rgba(255, 255, 255, 0.7);
}

div {
  position: relative;
  width: auto;
}
.inline-block {
  display: inline-block;
}
.padding-top-20 {
  padding-top: 20px
}
.padding-left-20 {
  padding-left: 20px
}

.margin-right-40 {
  margin-right: 40px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}



@import '~@angular/material/theming';
@include mat-core();
$mat-primary-scheme: (
  50: var(--primaryLightColor),
  100: var(--primaryLightColor),
  200: var(--primaryLightColor),
  300: var(--primaryLightColor),
  400: var(--primaryLightColor),
  500: var(--primaryColor),
  600: var(--primaryDarkColor),
  700: var(--primaryDarkColor),
  800: var(--primaryDarkColor),
  900: var(--primaryDarkColor),
  contrast: (
    100: var(--primaryLightColorText),
    500: var(--primaryColorText),
    700: var(--primaryDarkColorText),
  )
);
$mat-accent-scheme: (
  50: var(--accentLightColor),
  100: var(--accentLightColor),
  200: var(--accentLightColor),
  300: var(--accentLightColor),
  400: var(--accentLightColor),
  500: var(--accentColor),
  600: var(--accentDarkColor),
  700: var(--accentDarkColor),
  800: var(--accentDarkColor),
  900: var(--accentDarkColor),
  contrast: (
    100: var(--accentLightColorText),
    500: var(--accentColorText),
    700: var(--accentDarkColorText),
  )
);

$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
@include angular-material-theme($app-light-theme);
.darkMode {
  @include angular-material-theme($app-dark-theme);
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba( var(--accentLightColorRGB), 0.54);
  }
  .mat-primary.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba( var(--primaryLightColorRGB), 0.54);
  }
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba( var(--accentColorRGB), 0.54);
}
.mat-primary.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba( var(--primaryColorRGB), 0.54);
}

@import '~prismjs/themes/prism-tomorrow.css';
