<div fxLayout="row" fxLayoutAlign="space-between start" class="padding-top-20">
  <div fxFlex class="themePreview">
    <h2>Light <mat-slide-toggle [ngModel]="themeService.isDarkMode$ | async" angulartics2On="click"
        angularticsAction="click" [angularticsLabel]="darkMode ? 'LightMode' : 'DarkMode'"
        angularticsCategory="ViewMode" (change)="toggleDarkMode($event)"> Dark</mat-slide-toggle>
    </h2>
    <mat-divider></mat-divider>
    <app-mat-widgets></app-mat-widgets>
  </div>
  <div fxFlex="35">
    <mat-card class="mat-elevation-z8 theme-customize">
      <mat-card-content>
        <app-prebuilt-theme [currentTheme]="themeService.theme$ | async" (change)="installTheme($event)">
        </app-prebuilt-theme>
        <mat-divider></mat-divider>
        <h3>Customize Theme</h3>
        <app-palette></app-palette>
      </mat-card-content>
    </mat-card>
  </div>
</div>
